@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
:root {
	--primary-color: #154247;
	--secondary-color: #278980;
	--tertiary-color: #2bbcb2;
	--quaternary-color: #c5c8c4;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-weight: 400;
}

h2 {
	font-weight: 300;
}
